<h1><%= t('menu.validate_your_data') %></h1>

<%= t('text.your_validation_level_is') %>
<label><%= t('label.validation_status_'+current_user.validation_status.to_s) %></label>

<div class="jumbotron">
  <% if current_user.validation_status == 1 %>
    <p><%= t('text.reach_next_validation_level') %></p>

    <% if current_user.mobile_phone_code %>

      <small>Code: <%= current_user.mobile_phone_code %></small>

      <%= form_for(current_user, url: user_validate_mobile_phone_path(current_user), class: 'form-horizontal', role: 'form', method: 'post') do |f|  %>
        <%= t('text.complete_code') %>
        <br>
        <label><%= t('activerecord.attributes.user.mobile_phone_code') %></label>
        <%= text_field_tag :mobile_phone_code_received %>
        <%= f.submit t('button.validate_code'), class: 'btn' %>
      <% end %>
    <% else %>
      <%= form_for(current_user, url: user_send_sms_path(current_user), class: 'form-horizontal', role: 'form', method: 'post') do |f|  %>
        <%= t('text.will_send_sms') %>
        <br>
        <label><%= t('activerecord.attributes.user.mobile_phone') %></label>
        <%= f.telephone_field :mobile_phone %>
        <%= f.submit t('button.send_sms'), class: 'btn' %>
      <% end %>
    <% end %>

  <% elsif current_user.validation_status == 2 %>
    <p><%= t('text.reach_next_validation_level') %></p>

    <%= form_for(current_user, url: user_validate_id_image_path(current_user), class: 'form-horizontal', role: 'form', method: 'post') do |f|  %>
      <%= t('text.validate_id_image') %>
      <br>
      <label><%= t('activerecord.attributes.user.id_scan') %></label>
      <%= f.file_field :id_scan %>
      <%= f.submit t('button.upload_id'), class: 'btn' %>
    <% end %>


  <% elsif current_user.validation_status == 3 %>
    <p><%= t('text.max_validalidation_level') %></p>
  <% end %>
</div>

<br>
<br>
<br>


Básica: valida el mail y/ Facebook.
Avanzada: valida el nro. de teléfono
Máxima: valida un documento de modo offline
