<% if user_signed_in? %>
  <h3>Home</h3>
  <p><%= t('activerecord.attributes.user.name') %>: <%=link_to @user.name, @user %></p>
  <p>Validation type: <%= I18n.t('label.validation_status_'+@user.validation_status.to_s) %></p>
  <p><%= t('activerecord.attributes.user.last_name') %>: <%= @user.last_name %></p>
  <p><%= t('activerecord.attributes.user.birth_date') %>: <%= @user.birth_date %></p>
  <p><%= t('activerecord.attributes.user.address') %>: <%= @user.address %></p>
  <p><%= t('activerecord.attributes.user.mobile_phone') %>: <%= @user.mobile_phone.phony_formatted(:format => :international, :spaces => '-') if @user.mobile_phone %></p>
  <p><%= t('activerecord.attributes.user.profile_photo') %>: <%= image_tag @user.facebook_photo_url %></p>
  <p><%= t('activerecord.attributes.user.id_scan') %>: <%= image_tag @user.id_scan.url %></p>

<% end %>
