<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">Delivery test</a>
</div>


<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li><%= link_to t('menu.configure_delivery'), "#" %></li>
      <li><%= link_to t('menu.validate_your_data'), validate_your_data_users_path %></li>
    <% end %>
  </ul>

  <% unless user_signed_in? %>
    <%= form_for("user", :url => user_session_path, :html => {:class=>"navbar-form navbar-left"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :email, :class => "form-control", :placeholder => t('label.user') %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class => "form-control", :placeholder => t('label.password') %>
      </div>
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span>&nbsp;<%= t('buttons.login') %></button> 
    <% end %>
  <% end %>
    
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-cog"></span> Mi cuenta
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              <span class="glyphicon glyphicon-off"></span> Salir
            <% end %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Invitado <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Ingresar', new_user_session_path %></li>
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>
        </ul>
      </li>
    <% end %>      
  </ul>
</div><!-- /.navbar-collapse -->
  